* {
  font-family: "Open Sans", serif;
}

.blog-masthead {
  background-color: #289dcc;
}

.current-menu-item {
  background-color: #444444;
}

nav.blog-nav {
  background: unset;
}
nav.blog-nav li {
  padding: 0;
}
nav.blog-nav li:hover {
  background-color: #777777;
}

.post {
  display: inline-block;
  width: 30rem;
  margin: 1rem;
  padding: 3rem;
}
.post .excerpt {
  font-size: 1.5rem;
}
.post .featured-image img {
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;
}
.post.single-article {
  width: 100%;
  padding: 0;
}

/*# sourceMappingURL=index.css.map */
