$bg-brand: #289dcc
$bg-secondary-brand: #444444
$font-brand: 'Open Sans', serif

*
  font-family: $font-brand

.navbar-expand-lg .navbar-nav
  -ms-flex-direction: row
  flex-direction: row
  flex-wrap: wrap

.navbar
  background-color: $bg-brand
  padding: 0
  color: white
  .navbar-brand
    padding: .5rem
    width: 25%
    text-align: center
    color: white
  li
    .nav-link
      color: white
    &:hover
      background-color: lighten($bg-secondary-brand, 20%)
    &.current-menu-item
      background-color: $bg-secondary-brand

.container-fluid
  display: flex

.ticker
  display: inline-flex
  margin-bottom: 2rem
  width: 100%
  .title
    padding: 0.5rem
    line-height: 2rem
    text-transform: uppercase
    color: white
    background: $bg-secondary-brand
    width: calc(10rem - 0.5rem)

  .tickerv-wrap 
    background: #eee
    box-sizing: content-box
    overflow: hidden
    line-height: 2rem
    height: 1.75rem
    width: calc(100% - 10rem)
    padding: 0.6rem
  
  @keyframes tickerv 
    0%
      margin-top: 0
    25%
      margin-top: -2.2rem
    50%
      margin-top: -4.2rem
    75%
      margin-top: -6.2rem
    100%
      margin-top: 0
  .tickerv-wrap ul 
    padding: 0
    margin: 0
    list-style-type: none
    animation-name: tickerv
    animation-duration: 10s
    animation-iteration-count: infinite
    animation-timing-function: cubic-bezier(1, 0, .5, 0)

  .tickerv-wrap ul:hover 
    animation-play-state: paused

  .tickerv-wrap ul li 
    font-size: 0.9rem
    line-height: 2rem
