@import "partials/base"

.post
  display: inline-block
  width: 20rem
  min-width: 20rem
  margin: 1rem
  border: 1px solid grey
  .entry-title
    font-size: 1.5rem

  .excerpt
    font-size: 1rem

  .featured-image
    display: flex
    justify-content: center
    overflow: hidden
    img
      margin: auto
      max-height: 15rem
      min-height: 15rem
      width: auto
      height: auto
  .article-content
    padding: 1rem
    height: 12.5rem
    max-height: 12.5rem
  &.single-article
    width: 100%
    padding: 0
