* {
  font-family: "Open Sans", serif;
}

.navbar-expand-lg .navbar-nav {
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar {
  background-color: #289dcc;
  padding: 0;
  color: white;
}

.navbar .navbar-brand {
  padding: .5rem;
  width: 25%;
  text-align: center;
  color: white;
}

.navbar li .nav-link {
  color: white;
}

.navbar li:hover {
  background-color: #777777;
}

.navbar li.current-menu-item {
  background-color: #444444;
}

.container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ticker {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 2rem;
  width: 100%;
}

.ticker .title {
  padding: 0.5rem;
  line-height: 2rem;
  text-transform: uppercase;
  color: white;
  background: #444444;
  width: calc(10rem - 0.5rem);
}

.ticker .tickerv-wrap {
  background: #eee;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  overflow: hidden;
  line-height: 2rem;
  height: 1.75rem;
  width: calc(100% - 10rem);
  padding: 0.6rem;
}

@-webkit-keyframes tickerv {
  0% {
    margin-top: 0;
  }
  25% {
    margin-top: -2.2rem;
  }
  50% {
    margin-top: -4.2rem;
  }
  75% {
    margin-top: -6.2rem;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes tickerv {
  0% {
    margin-top: 0;
  }
  25% {
    margin-top: -2.2rem;
  }
  50% {
    margin-top: -4.2rem;
  }
  75% {
    margin-top: -6.2rem;
  }
  100% {
    margin-top: 0;
  }
}

.ticker .tickerv-wrap ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  -webkit-animation-name: tickerv;
          animation-name: tickerv;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1, 0, 0.5, 0);
          animation-timing-function: cubic-bezier(1, 0, 0.5, 0);
}

.ticker .tickerv-wrap ul:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.ticker .tickerv-wrap ul li {
  font-size: 0.9rem;
  line-height: 2rem;
}

article .entry-header {
  padding: 1rem 0;
}

article .entry-header .entry-title a {
  color: #444444;
}

article .featured-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

article .featured-image img {
  margin: auto;
  max-height: 25rem;
  width: auto;
  height: auto;
}

article .top-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
}

article .top-info .category a {
  color: #444444;
}

article .top-info .posted {
  text-align: right;
  width: 100%;
}

article .entry-content {
  padding: 1rem;
}

.blog-sidebar {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.blog-sidebar header {
  border-bottom: 4px solid #289dcc;
}

.blog-sidebar .related-article {
  width: 100%;
}

.blog-sidebar .related-article .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  margin: 1rem;
}

.blog-sidebar .related-article .image-container img {
  max-height: 15rem;
  width: auto;
  height: auto;
}

.blog-sidebar .related-article:not(:last-of-type) {
  border-bottom: 2px solid #289dcc;
}
/*# sourceMappingURL=single.css.map */