@import "partials/base"

.blog-container


article
  .entry-header
    padding: 1rem 0
    .entry-title a
      color: $bg-secondary-brand

  .featured-image
    display: flex
    align-items: center
    justify-content: center
    overflow: hidden
    img
      margin: auto
      max-height: 25rem
      width: auto
      height: auto
  .top-info
    display: flex
    text-transform: uppercase
    .category a
      color: $bg-secondary-brand
    .posted
      text-align: right
      width: 100%
  .entry-content
    padding: 1rem

.blog-sidebar
  display: block
  flex-direction: column
  text-align: center
  header
    border-bottom: 4px solid $bg-brand
  .related-article
    width: 100%
    .image-container
      display: flex
      align-items: center
      justify-content: center
      overflow: hidden
      margin: 1rem
      img
        max-height: 15rem
        width: auto
        height: auto
    &:not(:last-of-type)
      border-bottom: 2px solid $bg-brand
